extends ../layout

block content
    h1 Maintainer Area
    p Hi, #{name}
        |
        a(href="/maintainer/logout") Log out...
    h3 Pending Reviews
    each review in pendingReviews
        li
            a(href=`/maintainer/review/${review.id}`) #{review.publisher}: #{review.cbm.name} #{review.version}
    else
        p n/a
    h3 Past Reviews
    each review in pastReviews
        li
            a(href=`/maintainer/review/${review.id}`) #{review.status === 2 ? 'REJECTED' : 'APPROVED'} on #{review.status_at}: #{review.cbm.name} #{review.version}
    else
        p n/a
