extends ./layout

block breadcrumbs
    li
        span Maintainer Area

block innercontent
    //h1 Maintainer Area
    p Hi, #{name}
    .uk-grid.uk-child-width-expand.uk-grid-match(uk-grid)
        div
            .uk-card.uk-card-default.uk-card-body
                if (pendingReviews.length > 0)
                    .uk-card-badge.uk-label #{pendingReviews.length}

                h3.uk-card-title Pending Reviews
                ul#pending
                    each review in pendingReviews
                        li
                            a(href=`./review/${review.id}/`) #{review.publisher}: #{review.fem.name} #{review.version}
                    else
                        p n/a
        div
            .uk-card.uk-card-default.uk-card-body
                h3.uk-card-title Recent Reviews
                ul#past
                    each review in pastReviews
                        li
                            a(href=`./review/${review.id}/`)
                                | #{review.fem.name} #{review.version}
                                |
                                span.uk-label(class=(review.status === 2 ? 'uk-label-danger' : 'uk-label-success')) #{review.status === 2 ? 'REJECTED' : 'APPROVED'}
                    else
                        p n/a
