extends ./layout

block append breadcrumbs
    li
        span #{cbm.name} #{release.version}

block innercontent
    h1 Review #{cbm.name} #{release.version}
    p by #{publisher.name} (
        a(href=`mailto:${publisher.email}`)=publisher.email
        | )

    .uk-grid.uk-child-width-expand.uk-grid-match(uk-grid)
        div
            .uk-card.uk-card-body.uk-card-default
                h2.uk-card-title CBM Data
                table.uk-table.uk-table-striped.uk-table-small
                    tr
                        th Name
                        td=cbm.name
                    tr
                        th Support URL
                        td
                            a(href=cbm.support_url)=cbm.support_url
                    tr
                        th Website
                        td
                            if (cbm.website)
                                a(href=cbm.website)=cbm.website
                            else
                                | n/a
                    tr
                        th Repository / Source Code
                        td
                            if (cbm.repo_url)
                                a(href=cbm.repo_url)=cbm.repo_url
                            else
                                | n/a
        div
            .uk-card.uk-card-body.uk-card-default
                h2.uk-card-title Release
                h3 Version
                pre=release.version
                h3 Description
                pre=release.description
                h3 Release Notes
                pre=release.release_notes
                h3 Images
                ul
                each image in images
                    li
                        img(src=`/api/image/${image.id}` alt=image.alt)
                else
                    p n/a

    .uk-card.uk-card-default.uk-card-body.uk-margin
        h3.uk-card-title Code
        pre
            code=prettyCode

    h2 Review
    p Review here:
    form(method="post")
        fieldset.uk-fieldset
            label.uk-form-label
                input.uk-radio(name="result" type="radio" value="approve")
                | &nbsp;
                | Approve
            | &nbsp;&nbsp;&nbsp;
            label.uk-form-label.uk-margin
                input.uk-radio(name="result" type="radio" value="reject")
                | &nbsp;
                | Reject
        br
        label.uk-form-label
            | Comment (e.g., reason for rejection)
            br
            textarea.uk-textarea(name="reason")
        br
        input.uk-margin.uk-button.uk-button-primary(type='submit')


