extends ./layout

block append breadcrumbs
    li
        span #{fem.name} #{release.version}

block innercontent
    h1 Review #{fem.name} #{release.version}
    p by #{publisher.name} (
        a(href=`mailto:${publisher.email}`)=publisher.email
        | )

    .uk-grid.uk-child-width-expand.uk-grid-match(uk-grid)
        div
            .uk-card.uk-card-body.uk-card-default
                h2.uk-card-title FEM Data
                table.uk-table.uk-table-striped.uk-table-small
                    tr
                        th Project name (not public)
                        td=fem.name
                    tr
                        th Name
                        td=release.name
                    tr
                        th Support URL
                        td
                            a(href=release.support_url)=release.support_url
                    tr
                        th Website
                        td
                            if (release.website)
                                a(href=release.website)=release.website
                            else
                                | n/a
                    tr
                        th Repository / Source Code
                        td
                            if (release.repo_url)
                                a(href=release.repo_url)=release.repo_url
                            else
                                | n/a
        div
            .uk-card.uk-card-body.uk-card-default
                h2.uk-card-title Release
                h3 Logo
                img(uk-img data-src=`${release.logoUrl}` width=128)
                h3 Version
                pre=release.version
                h3 Description
                pre=release.description
                h3 Release Notes
                pre=release.release_notes
                h3 Images
                ul
                each image in images
                    li
                        img(src=image alt=image.alt)
                else
                    p n/a

    .uk-card.uk-card-default.uk-card-body.uk-margin
        h3.uk-card-title Code
        pre
            code=prettyCode

    h2 Review
    p Review here:
    form(method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        fieldset.uk-fieldset
            label.uk-form-label
                input.uk-radio(name="result" type="radio" value="approve")
                | &nbsp;
                | Approve
            | &nbsp;&nbsp;&nbsp;
            label.uk-form-label.uk-margin
                input.uk-radio(name="result" type="radio" value="reject")
                | &nbsp;
                | Reject
        br
        label.uk-form-label
            | Comment (e.g., reason for rejection)
            br
            textarea.uk-textarea(name="reason")
        br
        input.uk-margin.uk-button.uk-button-primary(type='submit')


