extends ../../layout


block content
    - let verbs = ['pending review', 'approved', 'rejected'];
    a(href='..')='Back'
    h1=cbm.name
    p
        if latest
            p Released at #{latest.version} (
                a(href=`./release/${latest.id}/`) View release
                | )
        else
            | Not released (yet)
    p
        if releases.length > 0
            - let release = releases[releases.length - 1]
            if release.id === latest.id
                | No new submitted versions
            else
                | Latest submitted version #{release.version} is #{verbs[release.status]}.
        else
            | No submitted versions
    h2 Releases
    ul
    each release in releases
        li
            a(href=`./release/${release.id}/`)=`${release.version} (${verbs[release.status]})`

    else
        p n/a
    p
        a(href='./release/new/') Submit a new version
    pre
        code=JSON.stringify([releases, latest], null, 2)
