extends ../../layout

block append breadcrumbs
    li
        a(href='../../') #{cbm.name}
    li
        span Submit New Version

block innercontent
    h1 New Release
    p Please insert the release data. This cannot be changed later.
    if error
        .uk-alert-danger(uk-alert)=error
    form(method='post' encType='multipart/form-data')
        h3 Required Fields
        label.uk-form-label CBM file
            .uk-margin
                div(uk-form-custom='target: true')
                    input(name='code' accept='.json, .cbm' multiple=false required type='file')
                    input.uk-input.uk-form-width-medium(disabled, placeholder='Select file')
                    button.uk-button.uk-button-default Select


        h3 Optional fields
        label.uk-form-label Logo
            .uk-margin
                div(uk-form-custom='target: true')
                    input(name='logo' accept='image/png' multiple=false type='file')
                    input.uk-input.uk-form-width-medium(disabled, placeholder='Select logo')
                    button.uk-button.uk-button-default Select
        br
        label.uk-form-label Screenshots
            .uk-margin
                div(uk-form-custom='target: true')
                    input(name='images' accept='.jpg, .png, .svg' multiple=true type='file')
                    input.uk-input.uk-form-width-medium(disabled, placeholder='Select screenshots')
                    button.uk-button.uk-button-default Select
        br
        label.uk-form-label Release Notes
            textarea.uk-textarea(name='release_notes')
        br
        input.uk-margin.uk-button.uk-button-primary(type='submit' value='Submit new version')
