extends ../../layout

block content
    a(href='..')='Back'
    h1=cbm.name
    p
        if latest
            p Released at #{latest.version} (
                a(href=`./release/${latest.id}/`) View release
                | )
        else
            | Not released (yet)
    h2 Releases
    ul
    each release in releases
        li
            a(href=`./releases/${release.id}/`)=release.version

    else
        p n/a
    pre
        code=JSON.stringify([releases, latest], null, 2)
